body{
    scroll-behavior: smooth;
    background-color:lightcyan;
    font-size: 14px;
    font-family:'Courier New', Courier, monospace;
    background-image: url("../Images/coffeebackground.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
header{
    display: flex;
    flex-direction: column;
    background-color:rgba(255, 255, 255,0.8);
    align-items: center;
    margin: 100px auto;
    margin-top: 40px;
    max-width: 1200px;
    padding: 3.5em;
    border-radius: 5px;
}
.main-text{
    font-size: 20px;
}
.h1spe{
    margin: auto;
    font-size: 32px;
    text-decoration: wavy;
    padding: 1em;
    color: rgb(17, 17, 17);
}
nav{
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.8em;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    position:relative;
    width: 100%;
}
#top-logo {
    flex:1;
    text-align: center;
    background-color: black;
}
#top-logo img {
    max-width: 100%;
    height: auto;
    border: solid;
    border-style:groove
}
nav ul{
    font-size: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav p{
    font-weight: bold;
    color: white;
}
nav.top-menu p {
    font-weight: bold;
    color: black;
    font-size: 16px;
    max-width: 500px;
    margin: auto;
}
.top-menu li{
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}
.top-menu a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: bold;
}
.top-menu a:hover{
    color:rgb(119, 119, 119);
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
    font-size: 21px;
}
.top-menu a:active{
    color: rgb(147, 51, 51);
    transition: none;
}
footer{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    text-align: center;
    bottom: 0;
    position: relative;
    width: 100%;
}

/* CSS koodit mobiililaitteita varten */
@media only screen and (max-width: 600px) {
    header {
        margin: 40px auto; 
    }
    nav ul {
        font-size: 16px; 
    }
    .TuoteOtsikko,
    .TuoteOtsikko2 {
        text-align: center;
        margin: 0 auto !important;
    }
    .Tuote, .Tuote2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10px;
    }
}