.h2spec{
    margin: auto;
    font-size: 18px;
    text-decoration: wavy;
    padding: 0.8;
    color: (17,17,17);
}
aside{
    display: flex;
}
table{
    display: flex;
    text-align: center;
    background-color: white;
    opacity: 70%;
    margin: 0 auto;
    max-width: 300px;
}