header{

}
.h1spe{
    font-size: 32px;
    margin: auto;
    font-size: large;
    color: aqua;
}

body{
    background-color:lightcyan;
    font-size: 14px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("../Images/coffeebackground.jpg");
    background-size: 100%;
    }


footer{
background-color: black;
color: white;
padding: 20px;
text-align: center;    
}