header{

}
.h1spe{
    margin: auto;
    font-size: 32px;
    text-decoration: wavy;
    padding: 1em;
    color: rgb(17, 17, 17);
}

body{
    background-color:lightcyan;
    font-size: 14px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("../Images/coffeebackground.jpg");
    background-size: 100%;
    }

nav{
color:white;
background-color: black;
padding: 1.8em;
text-align: center;
}

nav ul{
font-size: 20px;
list-style-type: none;
padding: 0;
margin: 0;
display: inline-block;
}

nav p{
    font-weight: bold;
    color: white;
}

nav.top-menu p {
    font-weight: bold;
    color: black;
    font-size: 16px;
    max-width: 500px;
    margin: auto;
}

.top-menu li{
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.top-menu a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

.top-menu a:hover{
    color:white;
    }

footer{
background-color: black;
color: white;
padding: 20px;
text-align: center;    
}