.Tuotteet{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.Tuotteet img{
    width: 30%;
    float: right;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-left:200px;
}
.Palaute{
    margin: 10px;
    margin-left: 25px;
}