.Tuotteet{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255,0.8);
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 20px;
}
.Tuotteet img{
    width: 40%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin: 2em;
}
.TuoteOtsikko{
    text-align: center;
    margin: 1em 0;
}
.TuoteTekstit{
    margin: 2em;

}
.Palaute{
    margin-left: 25px;
}
input{
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #000000;
}
#Hinnasto{
    margin-left: 25px;
}
.scrollToTopBtn{
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    float: right;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 40px;
}
textarea{
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #000000;
}