body{
    background-color:lightcyan;
    font-size: 14px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("../Images/coffeebackground.jpg");
    background-size: 100%;
    }